PORT=3000
NODE_ENV=development
GATEWAY_PORT=3000
AUTH_SERVICE_PORT=3001
RESOURCE_SERVICE_PORT=3002
OIDC_PROVIDER_PORT=4000
ENABLE_HTTPS=false
TLS_KEY_PATH=
TLS_CERT_PATH=
TLS_PFX_PATH=
TLS_PFX_PASSPHRASE=

JWT_ACCESS_SECRET=AUPs2W3sAD0lxUsPil10bEhPQ3sva2b9H4wh3jAXBoU
JWT_REFRESH_SECRET=4MUrdENU1uRnU2uvLldmhAwULXuJ0AsmiGCKTXMvQ34
OIDC_CLIENT_ID=bachelor-client
OIDC_ISSUER=http://127.0.0.1:4000
OIDC_REDIRECT_PATH=/oidc/callback

ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=7d
EXTERNAL_ACCESS_TOKEN_TTL=10m
EXTERNAL_ID_TOKEN_TTL=10m

COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

FRONTEND_ORIGIN=http://localhost:3000
LOGIN_RATE_LIMIT_WINDOW_MS=900000
LOGIN_RATE_LIMIT_MAX=10
STORAGE_DIR=.data
